<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/Login.css}">
    <link rel="stylesheet" th:href="@{/css/Cadastro_alterar_listagem.css}">
</head>
<body>
    <main class="login">
        
        <section>
            <div>
                <p>Adopt-Me</p>


                <form>

                    <lambel>Nome:</lambel>
                    <input type="Name" required placeholder="Insira nome de usuario">

                    <lambel>Senha:</lambel>
                    <input type="password" required placeholder="Insira sua senha ">

                    <lambel>Email:</lambel>
                    <input type="Name" required placeholder="Email">
                    <a class="senha" href="#"> Esqueci senha </a>    

                    <button  href=index.html type="button"> Entrar</button>
            
                </form>
            </div>
        </section>   

        <div>
            <img class =" patinhas amarelas " src="Img/pata amarela.png" alt=" Pata Amarela">

            <img class =" patinhas  "src="Img/patas png.png" alt="varia patinhas ">

            <img class =" patinhas amarelas "src="Img/pata amarela.png" alt=" Pata Amarela">

            <img class =" patinhas  "src="Img/patas png.png" alt="varia patinhas ">
        </div>

    </main>
    <script src="../../static/js/java.js"></script>
</body>
</html>