<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>sobre nos </title>
</head>
    <body>

        <div th:replace="~{fragments/menu.html :: menu}"></div>

        <header class="hero-section">
            <div class="banner-main">


                <button class="btn-cta">Explorar Adotáveis</button>
            </div>
        </header>

        <main class="container">

            <section class="info-text">
                <h2>sobre nos</h2>

                <p>
                    Adotar é um ato de amor que transforma não apenas a vida do animal, mas também a de quem o acolhe.
                    Existem milhares de cães esperando por uma segunda chance em abrigos. Ao escolher o <strong>Adopt-Me</strong>,
                    você ajuda a combater o abandono e ganha um companheiro leal para toda a vida.
                </p>

            </section>

        </main>=

    </body>
</html>